{{!-- nav bar configuration --}}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Plantitas</a> <i class="em em-avocado"></i> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" id="nav-username"href="#">username</a>
        <a class="nav-item nav-link active" href="/garden/">Garden <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/garden/mygarden">My Garden</a>
        <a class="nav-item nav-link" href="/create">Create a plant</a>
        <a class="nav-item nav-link" id="nav-logout"href="/logout">logout</a>
        </div>
      </div>
  </div>
</nav>






 




