{{!-- form from create a new plant --}}
<div class="create-plant">
  <h1>Create a new plant</h1>
  <p>You can collaborate with our garden family</p>
  <div class="create-form">
    <form action="/create" method="post">
      <div class="form-group">
        <label for="title">Name</label>
        <input class="form-control" type="text" id="" name="name" required>
      </div>

      <div class="form-group">
        <label for="">Scientific name:</label>
        <input class="form-control" type="text" id="" name="scientific_name" title="Please only characters" required>
      </div>
      <div>
           {{#if errorMessage}}
            <p style="color:red;">{{errorMessage}}</p>
          {{/if}}
      </div>
      <div class="form-group">
        <label for="">Description</label>
        <input class="form-control"  type="text" id="" name="description" required>
      </div>

      <div class="form-group">
        <label for="">Review:</label>
        <input class="form-control"  type="text" id="" name="reviews" required>
      </div>

      <div class="form-group">
        <label for="">Image URL:</label>
        <input class="form-control"  type="text" id="" name="image_url" required>
      </div>

      <div class="form-group">
        <label for="">Easy Care?</label>
        <select class="form-control" id="" name="easy_care" required>
          <option value="Easy care">Easy care</option>
          <option value="Average level">Average level</option>
          <option value="You need time!">You need time!</option>
        </select>
      </div>

      <div class="form-group">
        <label for="">Some advice</label>
        <input class="form-control"  type="text" name="advice_care" id="" required>
      </div>

      <div class="form-group">
        <label for="">pet friendly?</label>
        <select class="form-control" name="pet_friendly" id="" required>
          <option value="Besties with cats and dog">Besties with cats and dog</option>
          <option value="No!">No!</option>
        </select>
        {{!-- <input class="form-control"  type="text" name="theImage" id=""> --}}
      </div>

      <div class="form-group">
        <label for="">Purifying air?</label>
        <select class="form-control" name="purifying_air" id="" required>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Save the plant!</button>
    </form>
  </div>
</div>