{{!-- Home Page --}}
<div class="background-main">
    <div class="main">
        <h1>Welcome to our garden!</h1>
        <p>You can share, care and enjoy everything about plants!</p>
        <a href="/auth/signup">register</a>
        <a href="/auth/login">login</a></button>
    </div>
</div>
